
html, body {
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

div#scroll-wrapper {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	// transition: all 220ms;
}

div#scroll-wrapper section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

div#scroll-wrapper section .item {
  position: absolute;
  left: 50%;
  top: 50%;
}

div#scroll-wrapper section .item:not([data-animation-showing-disable]){
  opacity : 0;
}

div#scroll-wrapper section .item:not([data-animation-showing-disable]).direction-up {
  transform: translate(0,-150px);
  transition-timing-function: 'ease-out';
}

div#scroll-wrapper section .item:not([data-animation-showing-disable]).direction-down {
  transform: translate(0,150px);
  transition-timing-function: 'ease-in';
}

div#scroll-wrapper section .item:not([data-animation-showing-disable]).animate-show {
  transition: all 500ms;
}

div#scroll-wrapper section .item:not([data-animation-showing-disable]).show {
  opacity: 1;
  transform: translate(0, 0);
}
