
html, body {
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

div#scroll-wrapper {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	// transition: all 300ms;
	
	section {
		height: 100%;
		width: 100%;
	}
}
