
html, body {
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

div#scroll-wrapper {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	// transition: all 220ms;
	
	section {
		height: 100vh;
		width: 100vw;
		position: relative;
	}
}
